@font-face {
	font-family: "House Slant";
	src: url('./fonts/HouseSlant.eot');
	src: url("./fonts/HouseSlant.eot?#iefix") format("embedded-opentype"), url("./fonts/HouseSlant.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
}

@tailwind base;

body {
	min-height: 100vh;
}

.font-slant {
	font-family: "House Slant", sans-serif;
}

code {
	@apply bg-gray-200 text-gray-800 inline-block px-2 rounded font-mono border border-gray-300;
	font-size: 85%;
}

@tailwind components;

@tailwind utilities;

.shadow-overflow-y {
	background:
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	background-attachment: local, local, scroll, scroll;
}
